version: "3.9"

services:
  backend:
    build: ./backend
    container_name: ai-cv-backend
    dns:
      - 8.8.8.8
      - 1.1.1.1
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/static:/app/static
      - ./backend/cv_faiss_index:/app/cv_faiss_index
      - ./backend/photos:/app/photos
    depends_on:
      - redis
      - postgres
    ports:
      - "8000:8000"
    restart: unless-stopped

  worker:
    build: ./backend
    container_name: ai-cv-worker
    command: celery -A app.core.celery_app:celery_app worker --loglevel=info
    dns:
      - 8.8.8.8
      - 1.1.1.1
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/static:/app/static
      - ./backend/cv_faiss_index:/app/cv_faiss_index
      - ./backend/photos:/app/photos
    depends_on:
      - redis
      - postgres
    restart: unless-stopped

  redis:
    image: redis:7.4
    container_name: ai-cv-redis
    ports:
      - "6379:6379"
    restart: unless-stopped

  postgres:
    image: postgres:16
    container_name: ai-cv-postgres
    environment:
      - POSTGRES_USER=ai
      - POSTGRES_PASSWORD=ai
      - POSTGRES_DB=ai_cv
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile.prod
    container_name: ai-cv-frontend
    environment:
      - REACT_APP_API_BASE_URL=http://backend:8000
    depends_on:
      - backend
    ports:
      - "3000:80"
    restart: unless-stopped

volumes:
  postgres_data:
